{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <h1>Profile</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ profile.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ profile.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ profile.description }}</td>
            </tr>
            <tr>
                <th>Weightings sum</th>
                <td>{{ profile.weightingsSum }}</td>
            </tr>
            <tr>
                <th>CreationDate</th>
                <td>{{ profile.creationDate ? profile.creationDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ModificationDate</th>
                <td>{{ profile.modificationDate ? profile.modificationDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('profile_index') }}">back to list</a>

    <a href="{{ path('profile_edit', {'id': profile.id}) }}">edit</a>

    {{ include('profile/_delete_form.html.twig') }}
{% endblock %}
