{% extends 'base.html.twig' %}

{% block title %}Weighting{% endblock %}

{% block body %}
    <h1>Weighting</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ weighting.id }}</td>
            </tr>
            <tr>
                <th>CreationDate</th>
                <td>{{ weighting.creationDate ? weighting.creationDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ModificationDate</th>
                <td>{{ weighting.modificationDate ? weighting.modificationDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ weighting.comment }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('weighting_index') }}">back to list</a>

    <a href="{{ path('weighting_edit', {'id': weighting.id}) }}">edit</a>

    {{ include('weighting/_delete_form.html.twig') }}
{% endblock %}
