{% extends 'base.html.twig' %}

{% block title %}Standard index{% endblock %}

{% block body %}
    <h1>Standard index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Value</th>
                <th>Comment</th>
                <th>CreationDate</th>
                <th>ModificationDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for standard in standards %}
            <tr>
                <td>{{ standard.id }}</td>
                <td>{{ standard.value }}</td>
                <td>{{ standard.comment }}</td>
                <td>{{ standard.creationDate ? standard.creationDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ standard.modificationDate ? standard.modificationDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('standard_show', {'id': standard.id}) }}">show</a>
                    <a href="{{ path('standard_edit', {'id': standard.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('standard_new') }}">Create new</a>
{% endblock %}
